// Colors
$main-color: #FFDD00;
$secondary-color: #080700;
$date-color: #6B6B6B;

@import url('https://fonts.googleapis.com/css?family=Trade+Winds');

.loader-position {
    position: fixed !important;
    top:50%;
    left:50%;
}