.add-ad__title {
    margin: 10px;
}

.contacts {
    padding: 10px;
    border: 1px dashed $secondary-color;
    border-radius: 10px;
    background-color: #FFFBED;
    margin: 20px 0;
}

.contacts__group {
    padding: 5px;
}

.contacts__item {
    display: inline-block;
    width: 160px;
}

.contacts__value {
    
}