
.adv-item {
    margin: 20px;
    padding: 10px;
    min-width: 800px;
}

.adv-item__header {

}

.adv-item__description {

}

.adv-item__title {
    display: block;
}

.adv-item__number {
    display: block;
    color: $date-color;
}

.adv-item__price {
    display: block;
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 400;
}

.adv-item__image {
    width: 100%;
}

.adv-item__sideinfo {
    border-left: 1px solid #ccc;
}

.adv-item__sellers-info_phone {
    padding: 8px;
    background: $main-color;
    border: 1px solid $secondary-color;

    border-radius: 5px;
    margin-bottom: 20px;
}

.sellers-phone {
    font-size: 20px;
    @media(max-width: 1200px){
        font-size: 18px;
    }
    @media(max-width: 991px){
        font-size: 15px;
    }
}

.adv-item__sellers-info_name{
    display: block;
    font-size: 18px;
}

.adv-item__sellers-info_reg {
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
}

.adv-item__sellers-info_ads {
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-style: italic;
}
.adv-item__sellers-info_adress {
    margin: 20px 0;
}

.adv-item__sellers-info_adress-title {
    display: block;
    font-size: 15px;
    color: $date-color;
}

.adv-item__sellers-info_adress-value {

}

.adv-item__info-address_title {
    color: $date-color;
    margin-right: 15px;
}

.adv-item__info-address {
    border-top: 1px solid #ccc;
    border-bottom:  1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.adv-item__info-description {
    padding: 10px;
    margin: 10px;
}

.phone-icon {
    margin-right: 6px;
}

.adv-item__similar-ads {
    

}