.error-wrapper {
    display: flex;
    justify-content: center;
    max-width: calc(100% - 2em);
    margin: 10px auto;
    margin-bottom: 1em;
}

.error {
    display: inline-block;
    background-color: red;
    color: white;
    margin: 0;
    padding: 0.5em 1em;
    font-size: 0.8em;
    user-select: none;
    border-radius: 6px;
}
