.footer {
    background: black;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: auto auto 0 auto;
}

.footer-wrapper {
    position: relative;
    bottom: 0;
}

.footer__title {
    margin: auto;
}