.header {
    background-color: $main-color;
    height: 60px;
    padding-top: 14px;
    border-radius: 8px;
}

.header__title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Trade Winds', cursive;
    color: $secondary-color;
    margin-left:20px;
    @media(max-width: 768px){
        
    }
}

.header__title:hover {
    text-decoration: none;
    color: #9C9300;
}

.header__link {
    margin-right: 15px;
    font-size: 18px;
    color: $secondary-color;

}

.header__link:hover{
    text-decoration: none;
    color: #9C9300;
}

.header__button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.header-login {
    justify-content: flex-end;
}

.header-login__user {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-right: 15px;
}

.header-login__user:hover {
    color: red;
    text-decoration: none;
}

.header__navigation {
    @media(max-width: 768px){
        display: none;
    }
}

.header_button {
    @media(max-width: 578px){
        font-size: 10px;
    }
}