.header {
    background-color: $main-color;
    height: 60px;
    padding-top: 14px;
    border-radius: 8px;
}

.header__title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Trade Winds', cursive;
    color: $secondary-color;
}

.header__title:hover {
    text-decoration: none;
    color: #9C9300;
}

.header__link {
    margin-right: 15px;
    font-size: 18px;
    color: $secondary-color;

}

.header__link:hover{
    text-decoration: none;
    color: #9C9300;
}

.header__button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.header-login {
    justify-content: flex-end;
}

.header-login__user {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-right: 15px;
}

.header-login__user:hover {
    color: red;
    text-decoration: none;
}

.header-search {
    justify-content: center;
    margin-top: 5px;
    
}

.header-search__input {
    margin-right: 5px;
    outline: none;
    width: 30% ;
    transition: 0.4s;
    border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	font-size: 15px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}

.header-search__input:focus {
    border: 1px solid $main-color;
    width: 50%;
}

.modal-title{
    cursor: pointer;
}

.modal-title-active {
    color: $main-color;
}