.login {
    height: 240px;
    width: 350px;
}

.login__input {
    width: 400px;
    margin: 10px 20px;
}

.login__input:focus {
    border: 2px solid $main-color;
}

.button_wrapper {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }