.login {
    height: 230px;
    width: 350px;
}

.login__input {
    width: 400px;
    margin: 10px;
}

.login__title {
    text-align: center;
}

.login__button {
    
}

.button_wrapper {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}