.modal-title{
    cursor: pointer;
    font-size: 22px;
}


.modal-suricane {
    width: 35px;
    height: auto;
    position: relative;
    left: 78px;
    top: 18px;
}
// .modal-title-active {
    
//     text-decoration: underline overline;
//     text-decoration-color: $main-color;
// }