.user-profile {
    margin-top: 20px;
}

.user-profile__filter {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.active-filter {
    border-bottom: 2px solid yellow;
}
.user-profile__navigation-link {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: $secondary-color;
}