.user-profile-ad {
    min-height: 110px;
    margin: 20px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc; 
    align-content: space-between
}

.user-profile-ad__title{
    font-size: 18px;
    display: block;
}

.user-profile-ad__image {
    width: 100%; 
    height: auto;
    border-radius: 7px;
}

.user-profile-ad__price {
    
}

.user-profile-ad__date {
    font-size: 14px;
    color: $date-color;
    display: block;
}

.user-profile-ad__image-wrapper{
    width: 150px;
    display: inline-block;
    margin-right: 20px;
    
}

.user-profile-ad__content-wrapper {
    display: inline-block;
}