.user-profile {
    margin-top: 20px;
}

.user-profile__filter {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.active-filter {
    text-decoration: underline;
    font-weight: bold;
}
.user-profile__navigation-link {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: $secondary-color;
    font-size: 18px;
    
}