.public-profile {
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.public-profile__name {
    margin-bottom: 10px;
}
.public-profile__ads {
    display: block;
}

.public-profile__since {
    display: block;
}

.public-profile__address {
    display: block;
}